[data-theme="dark"]:root {
    --tColor-second: rgba(255, 255, 255, 0.75);
    --bgColorItem: rgb(46, 46, 46);
    --bgColor: rgb(37, 37, 37);
}

[data-theme="light"]:root {
    --tColor-second: rgba(22, 24, 35, 0.75);
    --bgColorItem: rgb(255, 255, 255);
    --bgColor: rgb(255, 255, 255);
}

.modal-container {
    position: fixed;
    inset: 0px;
    z-index: 1;
    overflow: auto;
    outline: 0px;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    display: flex;
    opacity: 1;

    .modal-mask {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        inset: 0px;
    }
}

.container {
    width: 700px;
    height: 650px;
    max-height: 700px;
    background-color: var(--bgColor);
    border-radius: 8px;
    margin: 20px auto;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transform-origin: center;
    animation: scaleModal 0.2s linear;

    @keyframes scaleModal {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1);
        }

    }

    .form-header {
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;

        .title {
            font-size: 2.4rem;
            font-weight: 600;
            font-family: var(--font-family);
            color: rgba(255, 255, 255, 0.9);
            padding: 24px 24px 12px;
        }

        .icon {
            width: 24px;
            height: 24px;
            cursor: pointer;

            svg {
                fill: rgba(255, 255, 255, 0.75);
            }
        }
    }

    .form-body {
        padding: 8px 24px 0px;

        .form-item {
            display: flex;
            align-items: flex-start;
            gap: 0 24px;
            padding: 16px 0;
            border-top: 0.5px solid rgba(255, 255, 255, 0.5);

            &:not(:first-child) {
                padding: 30px 0;
            }

            .avatar {
                width: 96px;
                height: 96px;
                border-radius: 50%;
                overflow: hidden;
            }

            .form-item_title {
                font-family: var(--font-family);
                font-weight: 600;
                line-height: 24px;
                font-size: 1.6rem;
                width: 120px;
            }

            .edit-profile_avatar {
                position: relative;
                padding-left: 100%;
                cursor: pointer;
            }

            .form-content {

                .form-input,
                textarea {
                    width: 360px;
                    height: 38px;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.12);
                    caret-color: rgb(254, 44, 85);
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.9);
                    line-height: 24px;
                    outline: none;
                    border: none;
                    padding: 7px 12px;
                    box-sizing: border-box;
                    font-family: var(--font-family);
                }

                textarea {
                    resize: none;
                    height: 80px;
                }

                .text-count {
                    font-family: var(--font-family);
                    font-size: 1.4rem;
                    color: rgba(93, 92, 92, 0.9);
                    padding-left: 3px;
                }
            }
        }

        .btn-edit {
            .btn-edit_icon {
                width: 32px;
                height: 32px;
                cursor: pointer;
                border-radius: 16px;
                background-color: rgb(46, 46, 46);
                border: 1px solid rgb(208, 208, 211);
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 0px;
                right: -99px;
            }

            cursor: pointer;

            input {
                display: none;
            }
        }
    }

    .form-bottom {
        border-top: 0.5px solid rgba(255, 255, 255, 0.2);
        padding-top: 20px;

        .form-btn {
            float: right;
            margin-right: 30px;
        }



        .btn-cancel,
        .btn-save {
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.9);
            border-color: rgba(255, 255, 255, 0);
            background-color: rgba(255, 255, 255, 0.08);
            min-height: 28px;
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            padding: 7px 16px;
            min-width: 96px;
            height: 36px;
            margin-left: 16px;
            cursor: pointer;
        }

        .btn-save {
            background-color: rgb(254, 44, 85);

            &:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
            }
        }

        button:disabled {
            border: none;
            color: rgba(255, 255, 255, 0.34);
            background-color: rgba(255, 255, 255, 0.08);
            cursor: not-allowed;
        }
    }
}

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    min-height: calc(100vh - 59px);

    @media screen and (min-width: 1472px) and (max-width: 1671px) {
        .profile-container {
            max-width: 1328px;
        }
    }

    .profile-content {
        margin-bottom: 20px;
    }

    .profile-infor {
        display: flex;
        gap: 0 20px;
        align-items: center;


        .profile-avatar {
            width: 116px;
            height: 116px;
            border-radius: 50%;
            overflow: hidden;

        }

        .profile-title {
            font-size: 3.2rem;
            font-weight: 700;
            font-family: var(--font-family-sofia);
            color: var(--tColor-primary);
        }

        .profile-subtitle {
            font-size: 1.8rem;
            font-weight: 700;
            font-family: var(--font-family);
            color: var(--tColor-primary);
        }

        .profile-btn {
            margin: 16px 0 0;
            font-family: var(--font-family);
        }
    }

    .profile-count_infos {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 22px;

        .count {
            font-family: var(--font-family-sofia);
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            display: flex;
            direction: ltr;
            -webkit-box-align: baseline;
            align-items: baseline;
            margin-right: 20px;
            color: var(--tColor-primary);

            .infos-text {
                color: var(--tColor-second);
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                display: inline-block;
                margin-left: 6px;

            }

            .infos-number {
                color: currentColor;
            }
        }
    }

    .profile-bio {
        text-align: left;
        color: var(--tColor-primary);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        white-space: pre-line;
        margin-top: 10px;
    }

    .profile-main_video {
        display: flex;
        flex-direction: column;

        .tab-feed_video {
            position: relative;
            display: flex;
            flex-direction: row;
            -webkit-box-align: stretch;
            align-items: stretch;
            justify-content: stretch;
            width: 460px;
            height: 44px;
            margin-bottom: 8px;

            &:hover>.bottom-line {
                transform: translateX(230px);
            }

            .video-tab,
            .likes-tab {
                font-family: var(--font-family-sofia);
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                flex: 1 1 0%;
                height: 44px;
                cursor: pointer;
                text-align: center;
                color: var(--tColor-primary);
            }

            .bottom-line {
                position: absolute;
                width: 50%;
                bottom: 0;
                height: 2px;
                background-color: var(--tColor-primary);
                left: 0;
                transition: transform 0.3s ease 0s;
            }
        }

        .video-wrapper {
            width: 100%;
        }
    }
}

.toast_message {
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: 500;
}