[data-theme="dark"]:root {
    --opacity: 0.25;
}

[data-theme="light"]:root {
    --opacity: 0;
}


.container {
    display: flex;
    width: 100%;
    background-color: var(--backgroundColor);

    &::-webkit-scrollbar {
        display: none;
        border-radius: 0;
        width: 6px;
        height: 4px;
        transition: all 0.25s linear;

    }



    .video-container {
        flex: 1 0 600px;
        width: 65%;
        background-color: rgba(255, 255, 255, 0.08);
        position: relative;
        overflow: hidden;
        height: 100vh;

        .blur-background {
            position: absolute;
            width: 10%;
            height: 10%;
            filter: blur(2px);
            left: 50%;
            top: 50%;
            transform: scale(11);
            opacity: var(--opacity);
            background: center center / cover no-repeat;
        }

        .video-wrapper {
            width: 100%;
            text-align: center;
            position: relative;

            .video-player_container {
                position: relative;
                width: 450px;
                margin: 0 auto;
            }
        }

        .icon {
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: scale(3.5);
        }

        .video {
            width: 450px;
            height: 100vh;
            cursor: pointer;
        }

        .video-big {
            width: auto;
            height: 100vh;
        }

        .video-control {
            bottom: 40px;
            position: absolute;
            left: 50%;
            width: calc(100% - 70px);
            max-width: 56vh;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 20px;

            &:hover input[type="range"]::-webkit-slider-runnable-track {
                display: block;
            }
        }

        .seek {
            width: 100%;
            position: relative;
        }

        .video-time {
            padding-top: 8px;
            font-size: 15px;
        }
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background-color: rgba(255, 255, 255, 0.34);
        height: 4px;
        /* z-index: 9999; */
    }

    input[type="range"] {
        --webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        position: relative;
        height: 4px;
        user-select: none;
    }

    input[type="range"]::-webkit-slider-thumb {
        --webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background-color: rgba(255, 255, 255);
        margin-top: -6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        z-index: 999999;
    }

    .seek-control {
        width: 100%;
        height: 10px;
    }

    .seek-bar {
        width: 10%;
        background-color: rgb(255, 255, 255);
        height: 4px;
        position: absolute;
        left: 0px;
        bottom: 9px;
    }
}

.content-container {
    width: 35%;
    padding: 32px 0 0;
    display: flex;
    flex-direction: column;

    .author-infor {
        display: flex;
        align-items: center;
        gap: 0 10px;
        padding: 22px 32px 0px;
    }

    .author-avatar {
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
    }

    .author-text {
        flex: 1 1;
        line-height: 22px;

    }

    .author-id {
        font-size: 1.8rem;
        font-family: var(--font-family-sofia);
        font-weight: 700;
        color: var(--tColor-primary);
    }

    .author-name {
        font-size: 1.4rem;
        font-family: var(--font-family);
        color: var(--tColor-primary);
    }

    .main-content {
        padding: 0px 32px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 15px;

        .video-desc {
            font-size: 1.6rem;
            padding-left: 5px;
            margin-top: 10px;
            color: var(--tColor-primary);
        }

        .music {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: var(--font-family);
            margin-top: 10px;
            margin-bottom: 16px;
            gap: 0 10px;
            padding-left: 5px;
        }
    }
}

.container-action {
    padding: 16px 0;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-action {
    display: flex;
    gap: 0 20px;

    .span-icon {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        width: 32px;
        height: 32px;
        font-size: 0px;
        border-radius: 50%;
        transition: all 200ms ease-in-out 0s;
        background-color: rgba(255, 255, 255, 0.12);
        padding: 6px;
        margin-right: 6px;
        color: var(--tColor-primary);
    }

    .strong-text {
        color: rgba(255, 255, 255, 0.75);
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        font-family: var(--font-family);
    }
}

.browse-share {
    display: flex;
    align-items: center;
    gap: 0 10px;
    line-height: 16.2px;

}

.coppy-link_container {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;

    .coppy-link_text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1 1 auto;
        padding: 7px 0px 5px 12px;
        background-color: rgba(255, 255, 255, 0.12);
    }

    .btn_coppy {
        border: none;
        background: none rgba(255, 255, 255, 0.08);
        outline: none;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 700;
        flex: 0 0 auto;
        cursor: pointer;
        padding: 7px 18px;
    }
}

.comments_list {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    flex-grow: 1;
    padding: 24px 32px;
    position: relative;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 3px;
        height: 4px;
        transition: all 0.25s linear;

    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(255, 255, 255, .08);
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    .empty-comments {
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0px;
        width: 100%;
        padding: 0px 16px;
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }
}

.comments_container {
    background-color: var(--backgroundColor);
    margin: 0px 30px;
    padding: 21px 0px;
    display: flex;

    .comments_input-area {
        flex: 1;
    }

    .comments_text {
        width: 100%;
        height: 39.6px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: rgba(255, 255, 255, 0.12);
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 0px 9px;
        caret-color: rgb(255, 59, 92);
        color: #fff;
        font-weight: 500;
        font-family: var(--font-family);

        &::placeholder {
            color: rgba(255, 255, 255, 0.75);
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 1.4rem;
        }

        &:focus-visible {
            outline: none;
        }
    }

    .btn_post {

        font-weight: 600;
        cursor: pointer;
        flex: 0 0 48px;
        font-size: 14px;
        line-height: 39px;
        text-align: right;
        margin-right: 4px;
    }
}

.guide {
    position: absolute;
    top: 6%;
    left: 7.2%;
    padding: 5px 10px;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;

    p {
        font-size: 1.4rem;
    }
}

.arrow {
    position: absolute;
    width: 20px;
    top: 8%;
    left: 6%;
    fill: rgb(37, 37, 37);
    transform: rotate(270deg);
}

.tool-tip {
    display: none;
}

.btnClose:hover+.tool-tip {
    display: block;
}